body{
	margin: 0;
}
#div1{
	background-color: #f0f;
	height: 100px;
}
.div2{
	display: inline-block;
	width: 100px; 
	vertical-align: top;
}
.div2:nth-child(1){
	height: 200px;
	background-color: rgba(74,255,64,1);
}
.div2:nth-child(2){
	height: 225px;
	background-color: rgba(0,0,255,1);
}
.div2:nth-child(3){
	height: 250px;
	background-color: rgba(0,75,255,1);
}
#test-div{
	height: 100px;
	width: 100px;
	clip-path: polygon(10% 10%, 10% 90%, 90% 50%);
	background-color: #dead13;
}